body {
  margin: 3rem;
}

#searchbox {
  max-width: 600px;
  button {
    background: red;
  }
}

// ensure the contentWrap is at-least full height, minus the header & footer heights
.contentWrap {
  min-height: calc(100vh - 70px - 70px);
}
